/*-------- 31. Faq style ---------*/

.faq-title {
    h2 {
        font-weight: bold;
        font-size: 32px;
        margin: 0 0 42px;
        color: #000;
        text-transform: uppercase;
        @media #{$md-layout} {
            font-size: 25px;
            margin: 0 0 20px;
        }
        @media #{$xs-layout} {
            font-size: 25px;
            margin: 0 0 20px;
        }
    }
}

.faq-accordion {
    border-radius: 0px;
    background-color: #fff;
    .panel-heading {
        h4 {
            font-size: 14px;
            margin: 0;
            background-color: var(--white);
            a {
                letter-spacing: 0.6px;
                color: var(--black2);
                font-size: 16px;
                display: block;
                position: relative;
                padding: 15px 0;
                font-weight: 600;
                border-bottom: 1px solid #f2f2f2;
                font-family: var(--fontprimary);
                @media #{$xs-layout} {
                    padding: 15px 30px 15px 15px;
                    font-size: 16px;
                }
                &.collapsed {
                    position: relative;
                    &::before {
                        position: absolute;
                        right: 13px;
                        height: 2px;
                        background-color: #111111;
                        width: 12px;
                        top: 50%;
                        margin-top: -2px;
                        content: "";
                        transition: all .3s ease 0s;
                    }
                    &::after {
                        content: "";
                        width: 2px;
                        height: 12px;
                        position: absolute;
                        background-color: #111111;
                        top: 49%;
                        transform: translateY(-50%);
                        right: 18px;
                        transition: all .3s ease 0s;
                    }
                }
                &::before {
                    position: absolute;
                    right: 13px;
                    height: 2px;
                    background-color: #343538;
                    width: 12px;
                    top: 50%;
                    margin-top: -2px;
                    content: "";
                    transition: all .3s ease 0s;
                }
            }
        }
    }
    .panel-collapse {
        .panel-body {
            p {
                line-height: 26px;
                font-size: 16px;
                margin: 0;
                color: #666666;
                padding: 30px;
                letter-spacing: 0.6px;
                font-family: var(--fonttitle);
                background: #f9f9f9;
                margin-top: 30px;
                @media #{$lg-layout} {
                    padding: 30px;
                }
                @media #{$md-layout} {
                    padding: 20px;
                }
                @media #{$xs-layout} {
                    padding: 10px;
                }
            }
        }
    }
}


.single-faq-wrap {
    @media #{$md-layout} {
        &.pt-120 {
            padding-top: 70px;
        }
        &.pb-100 {
            padding-bottom: 60px;
        }
    }
    @media #{$md-layout} {
        .faq-title {
            &.mb-60 {
                margin-bottom: 30px;
            }
        }
    }
    @media #{$xs-layout} {
        &.pt-120 {
            padding-top: 50px;
        }
        &.pb-100 {
            padding-bottom: 30px;
        }
    }
    @media #{$xs-layout} {
        .faq-title {
            h2 {
                font-size: 21px;
            }
            &.mb-60 {
                margin-bottom: 20px;
            }
        }
    }
}
.faq-area {
    .single-faq-wrap {
        .faq-tab-list {
            a {
                font-size: 20px;
                font-weight: 700;
                color: var(--colormain);
                text-transform: capitalize;
                padding: 10px 0px;
                position: relative;
                margin: 0 20px;
                &::before {
                    content: '';
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    background: var(--colormain);
                    height: 2px;
                    width: 100%;
                    opacity: 0;
                    transition: .3s;
                }
                &.active {
                    color: var(--black2);  
                    &::before {
                        opacity: 1;
                    }
                }
            }
        }
    }
}



